@page


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
<div class="container" style="margin-top: 80px; max-width: 960px;">
    <div class="my-4">
        <h1 class="text-center">Добро пожаловать в наш магазин!</h1>
        <p class="text-center">
            Мы предлагаем широкий ассортимент аудиотехники, включая наушники, стереосистемы, МП3 плееры и микрофоны.
            У нас вы найдете только лучшие бренды и продукты высокого качества.
        </p>
    </div>

    <div class="my-4">
        <h2 class="text-center">Обратная связь</h2>
        <p class="text-center">Если у вас есть вопросы или предложения, напишите нам!</p>
    </div>

    <div class="my-4">
        <h2 class="text-center mb-5">Рекомендуемые товары</h2>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>